head{
	display:none;
}
body{
	overflow: hidden;
}
div{
	display:block;
}
.center{
	text-align: center;
	text-align: -webkit-center;
}
.search img{
	height: 95px;
	width: 269px;
	margin-bottom: 20px;
}
.search{
	margin-top: 145px;
}
.search-bar{
	margin-bottom: 15px;
	width: 570px;
	height: 29px;
}
.mic{
	display: inline-block;
	float: right;
	width: 29px;
	height: 27px;
	border-top:1px solid;
	border-right:1px solid;
	border-bottom:1px solid;
	border-left: none;
}
.mic img{
	padding-top: 4px;
	height: 20px;
	width: 17px;
	margin: 0;
}
.search-bar input{
	font-size: 15px;
	font-weight: bold;
	padding: 0 0 0 4px;
	display: inline-block;
	float: left;
	width: 535px;
	height: 27px;
	border-top:1px solid #dcdcdc;
	border-right:none;
	border-bottom:1px solid #dcdcdc;
	border-left:1px solid #dcdcdc;

}
.content{
	border: none;
	padding: 0px;
	margin: 0px;
	height: auto;
	width: 100%;
	position: absolute;

}
.nav{
	float: right;
	margin: 7px 15px 0 0;
}
.apps{
	background-image: url(https://raw.githubusercontent.com/n8sb/odin-project/master/google-homepage/images/sprite.png);
	background-position: -69px -854px;
	position: absolute;
	width: 30px;
	height: 30px;
}
.bell{
	background-image: url(https://raw.githubusercontent.com/n8sb/odin-project/master/google-homepage/style/../images/sprite.png);
	background-position: -69px -69px;
	position: absolute;
	width: 30px;
	height: 30px;
}
.share{
	border-radius: 1px;
	background-color: #f4f4f4;
	padding: 7px 15px;
}
.profile{
	background-image:url("file://C:\Site\the_odin_project\google-homepage\photo.jpeg");
	width: 32px;
	height: 32px;
	background-size: 32px 32px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	position: absolute;
}
li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
ul li:nth-child(4), ul li:nth-child(5), ul li:nth-child(7){
	min-width: 30px;
	min-height: 30px;
}
a{
	font-family: Arial, sans-serif;
	font-size: 13px;
	text-decoration: none;
	color: #404040;
}
.cf:before, .cf:after{
	content: " ";
	display: table;
}
.cf:after{
	clear: both;
}
footer{
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	line-height: 40px;
	min-width: 100%;
	bottom: 0;
	position: absolute;
}
footer .footer-left{
	float: left;
	margin: 0;
}
footer ul{
	padding: 0 0 0 20px;
}
footer a{
	margin-right: 15px;
}
footer .footer-right{
	float: right;
	margin: 0;
	margin-right: 20px;
}